@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,100,700,400|Roboto+Condensed:700,300|Roboto+Slab:700,100);
/*------------------------
Global
------*/

html, body{
  height:100%;
}

body{
  position: relative;
  padding-top:50px;
}

section{
  min-height:100%;
  width:100%;
  background: url(img/halftone.png);
  position:relative;
}

.sectionheader img{
  width:100%;
}

.sectionheader figcaption{
  position: absolute;
  bottom:0;
  left:5%;
  color:rgba(255,255,255,0.9);
}

.mainheader figcaption{
  position: absolute;
  bottom:0;
  left:5%;
  color:rgba(255,255,255,0.9);
}

/*------------------------
Typography
------*/

body{
	font-family:'Roboto', sans-serif;
}

h1, h2, h3, h4{
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: .02em;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
  text-align:center;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
  letter-spacing: .03em;
  line-height:1.4em;
}

/*------------------------
Navigation
------*/

.top-nav{
  background-color:#FFF;
  border:none;
}

.brand{
  float:left;
}

.brand img{
  width:60px;
  margin:0;
  padding: .35em;
}

.navbar-right{
  font-weight:100;
  font-size:1.2em;
  letter-spacing: .04em;
  height:100%;
}

.collapse.in .nav li a,
.collapsing .nav li a{
  background:#FFF;
  color:rgb(244,141,40);
  border:0;
}

.nav li a{
  color:rgb(244,141,40);
  padding-top:16px;
  padding-bottom:16px;
}

.nav li.active a,
.collapsing .nav li.active a,
.collapse.in .nav li.active a{
  background:rgb(244,141,40);
  color:#fff;
}

.nav li a:hover,
.nav li a:focus{
  background:rgb(244,141,40);
  color:#FFF;
}

.navbar-toggle{
  background:rgb(55,55,55);
}

.navbar-toggle.collapsed{
  background:rgb(244,141,40);
}

.navbar-toggle .icon-bar{
  background:#fff;
  height:3px;
}

.navbar-nav+li{display:none;}

/*------------------------
Welcome
-------*/
#welcome {
background:url(img/beer-taps.jpg) fixed;
background-size:cover;
height: 100%;

}

#welcome img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;  
}

/*------------------------
About us
------*/
. main-bg {
  background-image:url(img/beer-taps.jpg);
  background-size:cover;
  height:100%;
  width:100%;
}

#about{
  padding-top:2em;  
}

.blur {
	-webkit-filter: blur(5px);
}

.serviceheader{
  text-align: center;
}

/*------------------------
Portfolio
------*/

#portfolio{
  padding:0;
  background-image:url(img/work.jpg);
  background-size:cover;
}

/*------------------------
Contact
------*/
#contact form{
  padding:10% 0 0;
}

.control-label{
  font-weight:500;
}

#contact form .form-control{
  background:transparent;
  border:0;
  box-shadow:none;
  transition: all 300ms;
}

#contact form .form-control:focus{
  border:none;
  box-shadow:0px 0px 5px rgba(0,0,0,0.05);
  background:rgba(0,0,0,0.05);
}

/*------------------------
Footer
------*/
footer{
  min-height:200px;
  padding-top:30px;
  color:#fff;
  background:#333;
}