@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,100,700,400|Roboto+Condensed:700,300|Roboto+Slab:700,100);
/*------------------------
Global
------*/

html, body{
  height:100%;
}

body{
  margin:0;
  padding-top:50px;
  position: relative;
  display:block;
}

section, #team{
  min-height:100%;
  width:100%;
  position:relative;
}

#contact,
#portfolio,
#teamBack,
#team,
#welcome,
.fullHeight{
  height:100%;
}

.sectionheader img{
  width:100%;
}

.sectionheader figcaption{
  position: absolute;
  bottom:0;
  left:5%;
  color:rgba(255,255,255,0.9);
}

.mainheader figcaption{
  position: absolute;
  bottom:0;
  left:5%;
  color:rgba(255,255,255,0.9);
}

.sectionHeader{
  width:80%;
  text-align:center;
  margin-bottom:3em;
  padding-bottom:5em;
}

.sectionHeader h3{
  border-bottom-width: 3px;
  border-bottom-style: solid;
  margin-bottom:.4em;
  padding-bottom:0.3em;
}

.aboutHeader{
  width:80%;
  margin-left:10%;
  text-align:center;
  color:#fff;
}

.aboutHeader h3{
  color:rgb(247,141,8);
  border-bottom-color: rgb(247,141,8);
}

.teamHeader{
  position:absolute;
  top:10%;
  left:10%;
  z-index:99;
  text-align:center;
}

.teamHeader h3{
  color:rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
}


/*------------------------
Typography
------*/

body{
	font-family:'Roboto', Helvetica, sans-serif;
}

h1, h2, h3, h4{font-family: 'Roboto', Helvetica, sans-serif;
}

h1{
  font-weight:100;
  text-align:center;
  border-bottom: 2px soild #333;
}

h2{
	font-weight: 300;
	letter-spacing: .02em;
}

h3{
	font-weight:300;
  line-height:1.2em;
}

h4{
	font-weight:300;
  letter-spacing: .03em;
}

h5 {
 font-family: 'roboto slab', sans-serif;
 font-weight: 300;
 line-height: 1.2em;
}

p {
	color:#8f8f8f;
	line-height: 1.4em;
	
}

.list-unstyled{
  list-style-type:none;
  margin-left:0;
  padding:0;
}

/*------------------------
Navigation
------*/

.top-nav{
  background-color:#FFF;
  border:none;
  box-shadow: 0 2px 1em rgba(0,0,0,0.1);
  z-index:999;
}

.brand{
  float:left;
}

.brand img{
  width:60px;
  margin:0;
  padding: .35em;
}

.navbar-right{
  font-weight:100;
  font-size:1.2em;
  letter-spacing: .04em;
  height:100%;
}

.collapse.in .nav li a,
.collapsing .nav li a{
  background:#FFF;
  color:rgb(244,141,40);
  border:0;
}

.nav li a{
  color:rgb(244,141,40);
  padding-top:16px;
  padding-bottom:16px;
}

.nav li.active a,
.collapsing .nav li.active a,
.collapse.in .nav li.active a{
  background:rgb(244,141,40);
  color:#fff;
}

.nav li a:hover,
.nav li a:focus{
  background:rgb(244,141,40);
  color:#FFF;
  transition: 300ms;
}

.navbar-toggle{
  background:rgb(55,55,55);
}

.navbar-toggle.collapsed{
  background:rgb(244,141,40);
}

.navbar-toggle .icon-bar{
  background:#fff;
  height:3px;
}

.navbar-nav+li{display:none;}

dl {
  margin-bottom:2.5em;
}

/*------------------------
Welcome
-------*/
.main-bg {
  background:url(img/barline.jpg) fixed center center;
  background-size:cover;
  position: relative;
  top: 0px;
  left: 0px;
}

.blur {
  background-image: url(img/barline-blur.jpg);
}

#welcome img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;  
}

/*------------------------
About us
------*/
#about{
  padding-top:5em;
  background: #fff;
}

.serviceheader{
  text-align: center;
}

.serviceheader img{
  margin-bottom:1.4em;
}

#about dd{
  margin:0;
}

/*------------------------
Team
------*/

#team{
  z-index: -2
}
#teamBack{
  position: fixed;
  top:0px;
  left:0px;
  z-index:-1;
}


@media screen and (min-width:768px) {
  #teamBack figure{
    height:100%;
    overflow:hidden;
    position:relative;
  }

  .hoverTrigger{
    position:absolute;
    z-index:1;
    transition: background-image 300ms ease-in-out;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url(img/transparent.gif);
  }

  .profile{
    overflow:hidden;
    position:fixed;
    top:25%;
    z-index:100;
    min-height:30%;
    transition: all 300ms ease-in-out;
    border-radius:.4em;
  }

  .moveme{
    position: absolute;
    bottom:-100%;
    background:rgba(0,0,0,0.75);
    color:rgba(247,141,8,0.9);
    box-shadow: 0 3px 1em rgba(0,0,0,0.1);
    border-radius:.4em;
    padding:1em;
    width:100%;
    height:auto !important;
    transition: all 300ms ease-in-out;
  }

  .hoverTrigger:hover+.profile{
  }

  .hoverTrigger:hover+.profile .moveme,
  .hoverTrigger:hover+.profile:hover .moveme{
    bottom:0;
  }

  .profile h4{
    color:rgba(255,255,255,1);
    margin:0 0 .2em;
  }

  .profile strong{
    margin:1em;
  }

  .profile p{
    color:rgba(255,255,255,0.9);
  }

  .andrew{
    height: 41.7%;
    width: 26%;
    top: 48%;
    left: 73.5%;
    z-index: 100;
  }
  .andrew:hover{
    //background-image:url();
  }

  .andrew+.profile{
    right:3%;
  }

  .skylar{
  	height: 47%;
  	width: 17%;
  	top: 44.8%;
  	left: 58%;
  	z-index: 101;
  }

  .skylar:hover{
    //background-image:url();
  }

  .skylar+.profile{
    left:57%;
  }

  .derek{
  	height: 42%;
  	width: 15%;
  	top: 48%;
  	left: 30%;
  	z-index: 102;
  }

  .derek:hover{
    //background-image:url();
  }

  .derek+.profile{
    left:28%;
  }

  .chris{
  	height: 39.6%;
  	width: 17%;
  	top: 49.6%;
  	left: 43%;
  	z-index: 103;
  }

  .chris:hover{
    //background-image:url();
  }

  .chris+.profile{
    left:40%;
  }

  .justin{
  	height: 37%;
  	width: 29%;
  	top: 49.7%;
  	left: -.3%;
  	z-index: 104;
  }

  .justin:hover{
    //background-image:url();
  }

  .justin+.profile{
    left:10%;
  }
}

/*------------------------
Portfolio
------*/

#portfolio{
  padding:0;
  background:#000;
  padding-bottom:4em;
}

#portfolio img{
  max-width:100%;
}

.portHeader{
  margin-left:10%;
  padding-top:3em;
  padding-bottom:0;
  margin-bottom:0;
}

.portHeader h3{
  color:rgba(255,255,255,0.5);
}

#portfolio h5{
  color:rgba(255,255,255,0.7);
  text-align:center;
  margin:0;
  position:absolute;
  bottom:10px;
  z-index:75;
  width:100%;
}

#portfolio .container{
  height:80%;
}

#portfolio .container>div{
  height:33.333333%;
}

#portfolio .container>div>div,
#portfolio .container>div>div>div{
  height:100%;
}

#portfolio .container>div>div>div{
  overflow:scroll;
}

.portfolioList{
  height:100%;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  margin:0;
}

.portfolioList li{
  display:block;
  float:left;
  height:100%;
}

.portfolioList figure{
  height:100%;
  position: relative;
}

.portfolioList img{
  height:100%;
  width:auto;
}

.portfolioList figcaption{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3em;
  background:rgba(0,0,0,0.7);
}
/*
@media screen and (min-width:1024px){

  #portfolio h5{
    text-align:center;
    position:relative;
    bottom:0;
    margin-bottom:10px;
  }

  #portfolio .container>div{
    height:100%;
  }

  #portfolio .container>div>div>div{
    overflow:auto;
  }

  .portfolioList{
    margin:0;
    width:100%;
    height:95%;
  }

  .portfolioList li{
    height:auto;
  }

  .portfolioList img{
    width:100%;
    height:auto;
  }

}
*/
/*------------------------
Contact
------*/
#contact{
  background: url(img/barline.jpg) fixed center center;
  background-size:cover;
  padding-top:3em;
  min-height:50em;
}

.contact-bg{
  position:absolute;
  height:100%;
  width:100%;
  z-index:1;
}

.contactHead{
  margin-left:10%;
  z-index:5;
  position:relative;
}

.contactHead h3{
  color:rgb(247,141,8);
  border-bottom-color:rgb(247,141,8);
}

.contactMain{
  z-index:6;
  position:relative;
  background: rgba(255,255,255,1)
}

#contact form{
  padding:3em 0 0;
}

#contact form .form-group{
  margin:2em 0;
}

#contact form .control-label{
  background:transparent;
  color:#fff;
  width:100%;
  padding:.4em;
  border-radius: 0 0 .2em .2em;
  transition: all 300ms;
}

.control-label h5{
  color:#333;
  text-align:right;
  margin:0 0 .2em;
}

#contact form .form-control{
  background: rgba(247,141,8,0.2);
  border-radius: 0;
  border:0;
  box-shadow:none;
  transition: all 300ms;
  color:#333;
  font-size:1.6em;
  padding:1em .8em;
}

#contact form .form-control:focus{
  background: rgba(247,141,8,.5);
  border-color:transparent;
  border-radius:.2em .2em;
  color:#fff;
}

#contact form .form-control:focus+.control-label{
  background:rgba(247,141,8,0.2);
}

textarea {
	height:40%;
}

#contact button{
  width:50%;
  border-radius:.2em;
  background-color:rgb(247,141,8);
  color:#fff;
  border:none;
}

.submit-group{
  text-align:center;
}

/* Style the Placeholder Text */
.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgb(247,141,8);
    font-weight:300;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgb(247,141,8);
   font-weight:300;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgb(247,141,8);
   font-weight:300;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    rgb(247,141,8);
   font-weight:300;
}

/*------------------------
Footer
------*/
footer{
  min-height:200px;
  padding-top:30px;
  color:#fff;
  background:#333;
}

.info strong {
	border-bottom: 1px solid #fff;
}

